# Ignore IntelliJ IDEA files
.idea/

# Ignore Gradle project-specific cache directory (for caching Gradle dependencies)
.gradle/

# Ignore Gradle build output directories (for build artifacts)
build/
out/

# Exclude these files to ensure Gradle Wrapper is included
!gradlew
!gradlew.bat

# Exclude this directory to ensure .gradle is included
!.gradle/

/__pycache__/
