# Ignore IntelliJ IDEA files
.idea/

# Ignore Gradle-related files and directories in the 'java' directory
java/.gradle/
java/build/
java/.idea/
java/gradle/
java/build.gradle.kts
java/gradlew
java/settings.gradle.kts
