# Ignore IntelliJ IDEA files
.idea/

# Ignore Gradle-related files and directories
.gradle/
build/
buildOutputCleanup/
vcs-1/
file-system.probe
gradle.xml
misc.xml
vcs.xml

# Ignore build and test directories
classes/
generated/
reports/
test-results/
tmp/

# Ignore Gradle wrapper files
gradle/wrapper/
gradle-wrapper.jar
gradle-wrapper.properties

# Ignore all other files and directories
/*
!.gitignore
!README.md
!python/
